.photos {
    margin: 4rem 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 500px));
    gap: 15px;
    place-content: center;
}

.photo {
    min-height: 22rem;
    border-radius: 2rem;
}

.photo img {
    border-radius: 2rem;
    width: 100%;
    height: 100%;
    object-fit: contain;
}